*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
   font-family:"vazir";
   src: url("../font/Vazir.woff");
}
body{
	font-family:vazir,tahoma;
	font-size:16px;
}
.home-page{
	overflow:hidden;
}
.wrapper{
	background:#5000ca;
}
header a{
	text-decoration:none;
	color:#d6d6d6;
}
header a:hover{
	color:#fff;
}

/* MENU STYLE ON LARGE DEVICES */
.section-right{
	padding-bottom:10px;
}
.section-right h2{
	float:right;
	padding:0 3vw;
}
.section-right ul li{
	float:right;
	list-style:none;
	padding:10px;
}
.section-left{
	display:flex;
	justify-content:center;
	align-items:center;
}
.section-left div{
	margin:2px;
}
.section-left .login{
	border:2px solid #fff;
	padding:3px 10px;
	border-radius:5px;
}
.section-left .search{
	border-radius:50%;
	padding:7px 7px 2px 5px;
}
.section-left .shop{
	border-radius:3px;
	padding:7px 7px 2px 5px;
}
.shop:hover , .search:hover{
	background-color:#fff;
}
.shop:hover a , .search:hover a{
	color:#999;
}
.search i , .shop i{
	font-size:20px;
}

/* MENU STYLE ON SMALL DEVICES */
.minimaize{
	display:none;
}
.minimaize h2{
	float:right;
	padding:15px 4vw;
}
.icon-holder{
	display:flex;
	float:left;
	padding:15px 3vw;
}
.icons div{
	float:right;
	padding:8px;
}
.icons div i{
	font-size:20px:
}
.hamburger{
	float:right;
	cursor:pointer;
}
.hamburger .lines{
	width:30px;
	height:4px;
	margin:7px;
	border-radius:2px;
	background:#fff;
	background:#ddd;
}

/* MODAL STYLES */
.search-modal , .menu-modal-min{
	position:fixed;
	z-index:999999;
	display:flex;
	justify-content:center;
	width:100%;
	height:100%;
	top:0;
	transform:translateX(-100%);
	transition:300ms;
}

/* search-modal styles */
.search-modal{
	background:rgba(0,0,0,0.6);
}
.search-modal form{
	width:60%;
	height:100px;
	position:relative;
	margin-top:100px;
	padding:20px;
}


/* menu-modal styles */
.menu-modal-min{
	background:rgba(0,0,0,0.7);
	align-items:center;
}
.menu-modal-min .close-menu{
	font-size:30px;
	position:absolute;
	top:40px;
	right:50px;
	color:#fff;
}
.menu-modal-min ul{
	list-style:none;
}
.menu-modal-min ul li{
	padding:10px;
	font-size:20px;
	font-weight:600;
}

/* SITE LANDING SECTION STYLES */
.middle{
	position:relative;
	width:100%;
}
.middle .svg-patern{
	width:100%;
	z-index:-1;
	position:absolute;
}
.landing{
	position:relative;
	height:200px;
}
.landing-text{
	position:absolute;
	right:50%;
	top:20%;
	width:50%;
}
.landing-text h1{
	color:#fff;
	font-weight:600;
	text-align:center;
}
.landing-text .landing-btn{
	display:flex;
	justify-content:center;
}
.landing-btn button{
	border-radius:20px;
}
.landing-img{
	position:absolute;
	right:13%;
	top:20%;
}
.landing-img img{
	max-width:23%;
}


/* STYLES OF THE MAIN PART OF THE SITE */

/* SITE SERVICES SECTION STYLES */
.services{
	margin-top:220px;
}
.box .service-icon img{
	transition:300ms;
}
.box .service-icon img:hover{
	transform:scale(1.2);
}
.service-icon , .txt-box{
	display:flex;
	justify-content:center;
	align-items:center;
}
.txt-box p{
	color:#111;
}

/* SITE COURSES SECTION STYLES */
.courses-box{
	margin-top:100px;
}
.Separator{
	background:#5000ca;
	height:5px;
	opacity:1;
	border-radius:4px;
	width:15%;
	margin-right:1px;
}
.courses-holder{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:20px 5px;
}
.courses-holder a{
	color:#222;
	text-decoration:none;
}
.courses-banner img{
	width:100%;
	border-radius:20px 20px 0 0;
}
.hr-after-banner{
	display:flex;
	justify-content:center;
}
.hr-after-banner hr{
	width:20%;
	height:5px;
	border-radius:5px;
	font-weight:600;
	color:#5000ca;
	opacity:1;
}
.course-teacher,.course-details time{
	opacity:.7;
	padding-top:10px;
}
.course-details{
	margin-top:60px;
}
.course-details .btn{
	float:left;
	margin-left:10px;
	padding:2px 15px;
	color:#fff;
	border-radius:15px;
}

/* STYLES SECTION OF HOW THE SITE WORKS */
.site-works{
	margin-top:50px;
	display:flex;
	justify-content:center;
	padding-top:20px;
}
.site-works h2,.site-works h4{
	font-weight:600;
}
.site-works img{
	max-width:100%;
}
.site-works .txt-box{
	color:#222;
}

/* SITE SECTION FOOTER STYLES */
.footer{
	background:#39374a;
	margin-top:70px;
}
.about,.footer-membership,.instruction-site{
	padding:20px;
}
.footer hr{
	color:#fff;
	height:1px;
	opacity:1;
}
.footer .container{
	display:flex;
	justify-content:center;
}
.txt-about,.txt-box{
	color:#fff;
}
.trust-logo ul{
	list-style:none;
}
.trust-logo ul li{
	float:right;
	padding:10px;
}
.footer-membership div:nth-child(1) p{
	overflow-wrap:keep-all;
}
.footer-membership .txt-box i{
	font-size:30px;
	float:right;
	padding:20px;
	color:yellow;
}
.instruction-site ul{
	list-style:none;
	color:#fff;
}
.instruction-site ul h4{
	font-weight:600;
}
.instruction-site ul a{
	color:#fff;
	text-decoration:none;
	opacity:.7;
}
.instruction-site ul a:hover{
	opacity:1;
}
.copyright{
	background:#fff;
	height:auto;
}


@media (max-width:768px){
	.services{
	    margin-top:130px;
    }
	.courses-box{
		margin-top:70px;
	}
	.search-modal form{
		width:100%;
	}
	.login-modal .wrapper{
		width:80%;
	}
}

@media (max-width:992px){
	header a{
		color:#fff;
	}
	.maximaize{
		display:none;
	}
	.minimaize{
		display:block;
	}
	.services{
	    margin-top:130px;
    }
	.Separator{
		width:20%;
	}
}

@media (max-width:1200px){
	.hidden-lg{
	    display:none;
    }
	.svg-patern img{
		display:none;
	}
	.svg-patern{
		background:#5000ca;
		height:300px;
		border-radius:0 0 35% 40%;
	}
	.landing-text{
		right:0%;
        top:20%;
	    width:100%;
	}
	.landing-img{
		display:none;
	}
	.services{
	    margin-top:130px;
    }
	.hidden-md{
	    display:none;
    }
}



