*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:'sans-serif' , serif;
}
/* header & searchbox */
header{
	padding:10px;
	display:flex;
}
.input-group{
	width:200px;
}
.input-group button{
	margin:0;
	height:100%;
}
.hamburger{
	display:none;
	position:absolute;
	right:20px;
	top:10px;
	width:30px;
	height:30px;
	padding:1px;
}
.hamburger .lines{
	width:100%;
	height:5px;
	margin:5px 0;
	background-color:#fff;
	transition:200ms;
}
.admin-profile{
	position:absolute;
	top:14px;
	right:70px;
}
.admin-profile .btn{
	padding:1px;
	position:relative;
}
.admin-submenu{
	display:none;
	transition:200ms;
	position:absolute;
	top:100%;
	right:-4px;
	width:150px;
	height:auto;
	border:1px solid rgba(0,0,0,0.15);
	background-color:#fff;
	z-index:3;
	margin-top:5px;
	border-radius:5px;
}
.admin-submenu a{
	display:block;
	text-decoration:none;
	padding-left:20px;
}
.admin-submenu a:hover{
	background-color:#0c8cef;
}
.active-profile{
	display:block;
	
}



/* sidebar control panel */
ul{
	list-style:none;
}
.sidebar a{
	text-decoration:none;
	color:#fff;
	opacity:.6;
	padding:10px;
}
.sidebar a:hover{
	opacity:1;
}
.sidebar p{
	color:#fff;
	opacity:.3;
}
.sidebar{
	width:230px;
	height:100vh;
	position:scroll;
	transition:300ms;
}
.active-sidebar{
	transform:translateX(-110%);
}
.menubar{
	padding:10px 5px 10px 5px;
}
.menubar i{
	padding-right:7px;
	opacity:0.6;
}
.sub1 , .sub2 , .sub-menu1 , .sub-menu2{
	opacity:0;
	height:0;
	transform:translateY(100%);
	transition:200ms;
}
.section1,.section2,.section3,.menubar ul li{
	padding:5px 0 5px 0;
}
.section2>a,.section3 a{
	display:block;
}
.fa-angle-right{
	float:right;
	padding-top:5px;
	transition:200ms;
}
.active{
	height:auto;
	opacity:1;
	transform:translateY(0%);
	display:block;
}
.active-icon{
	transform:rotate(90deg)
}

/* body control panel */
.main{
	display:flex;
	position:relative;
}









@media (max-width:992px){
	.hamburger{
		display:block;
	}
	.sidebar{
		position:absolute;
		left:0;
		top:0;
		transform:translateX(-110%);
	}
	.active-sidebar{
		transform:translateX(0%);
	}
}
@media (max-width:768px){
	.input-group{
		width:130px;
	}
}
